Avaliação 1. Setembro, 2022

In [1]:
#§Exercício 1: NumPy array Indexing/Slicing
#1.1)
import pandas as pd
import numpy as np

iris = pd.read_csv('/Users/josediogomoura/machine_learning/datasets/datasets/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
#1.2) Seleciona a primeira variável independente e verifica a dimensão do array resultante
first_var_d = iris.iloc[:,0]
first_var_d.shape # 150 linhas e 1 coluna

(150,)

In [3]:
#1.3) Seleciona as últimas 5 amostras do iris dataset. Qual a média das últimas 5 amostras para cada variável independente/feature?
iris.iloc[-5:,:].mean()

/var/folders/71/63pxzqvs6xs7s4r3rgx_50s40000gn/T/ipykernel_9128/1834716668.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.iloc[-5:,:].mean()

sepal_length    6.32
sepal_width     2.98
petal_length    5.18
petal_width     2.06
dtype: float64

In [4]:
#1.4) Seleciona todas as amostras do dataset com valor superior ou igual a 1. Nota que o array resultante deve ter apenas amostras com valores iguais ou superiores a 1 para todas as features

superior_1 = iris.loc[(iris['sepal_length'] >= 1) & (iris['sepal_width'] >= 1) & (iris['petal_length'] >= 1) & (iris['petal_width'] >= 1)]
superior_1.dropna()
superior_1.head()

    sepal_length  sepal_width  petal_length  petal_width            class
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor

In [32]:
#1.5) Seleciona todas as amostras com a classe/label igual a ‘Irissetosa’. Quantas amostras obténs?
iris.loc[iris['class'] == 'Iris-setosa'].shape # 50 amostras e 5 colunas (variáveis)

(50, 5)

In [8]:
#§Exercício 2: NumPy array Indexing/Slicing

import numpy as np
import pandas as pd
import random
from src.si.data.dataset import *

# create a dataset with missing values (NaN)
data = np.random.randint(0, 100, size=(100, 5))
data = pd.DataFrame(data, columns=['A', 'B', 'C', 'D', 'E'])
data.iloc[0:10, 0] = np.nan # 10 missing values in column A
data.head()


# y is the column of the target variable 'E' at the end of the dataset
y = data['E']
print('this is de last column', y)
# features is the name of the columns of the dataset without the target variable
features = data.columns[:-1]
print('this are the features',features)

# label is the name of the target variable
label = data.columns[-1]
print('this is label:', label)

# x is the dataset without the target variable
x = data[features]
print('this is x', x)

# create a dataset object
dataset = Dataset(x, y, features, label)
dataset.summary()

this is de last column 0     75
1     30
2     45
3      6
4     47
      ..
95    34
96    65
97    86
98     8
99    62
Name: E, Length: 100, dtype: int64
this are the features Index(['A', 'B', 'C', 'D'], dtype='object')
this is label: E
this is x        A   B   C   D
0    NaN  94  76  26
1    NaN  97  56  48
2    NaN  36  27  33
3    NaN  96  12  36
4    NaN  19  96  26
..   ...  ..  ..  ..
95  90.0  24  60   3
96  15.0   1  44  71
97  70.0  96  77  20
98  72.0  22  86  62
99  16.0   4  75  29

[100 rows x 4 columns]

                   A      B         C         D
mean       49.611111   48.8   49.2900   46.5200
median           NaN   47.5   51.5000   45.5000
min         5.000000    1.0    0.0000    2.0000
max        99.000000   99.0   99.0000   99.0000
variance  938.148765  843.5  787.0459  821.1696

In [10]:
# use the method to remove the missing values
dataset.dropna()

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [14]:
import pandas as pd
import numpy as np


# read the dataset
data = pd.read_csv('/Users/josediogomoura/machine_learning/datasets/datasets/iris_missing_data.csv')

# check for missing values
data.isna().sum()

sepal_length    4
sepal_width     5
petal_length    3
petal_width     5
class           0
dtype: int64

In [1]:
from si.io.CSV import read_csv
from src.si import *
from si.data.dataset import Dataset

dataf = read_csv(('/Users/josediogomoura/machine_learning/datasets/datasets/iris_missing_data.csv'), sep=',', features=True, label=True)

print(dataf.summary())

# make dataf a dataset object
dataset = Dataset(dataf.X, dataf.y, dataf.features, dataf.label)

          sepal_length  sepal_width  petal_length  petal_width
mean               NaN          NaN           NaN          NaN
median             NaN          NaN           NaN          NaN
min                NaN          NaN           NaN          NaN
max                NaN          NaN           NaN          NaN
variance           NaN          NaN           NaN          NaN

In [2]:
dataset.dropna()

In [3]:
dataset.summary()

          sepal_length  sepal_width  petal_length  petal_width
mean          5.852239     3.047761      3.780597     1.202239
median        5.800000     3.000000      4.350000     1.300000
min           4.300000     2.000000      1.000000     0.100000
max           7.900000     4.200000      6.900000     2.500000
variance      0.705928     0.175480      3.122310     0.579025